table {
  width: 100%;
  /* margin-top: 15px; */
  /* margin-bottom: 20px; */
}

.tabela {
  overflow-y: auto;
  max-height: 55vh;
}

mat-form-field {
  width: 100%;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
