.acao {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

h3 {

  font-weight: 600;
}

mat-form-field {
  width: 33%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.equipamento, .usuario {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.example-list-wrapping {
  max-width: 500px;
}







