<div class="containerr">

  <mat-card class="cardd mat-elevation-z1">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>format_list_bulleted</mat-icon>
        <span> Comodatos</span>
      </mat-card-title>
      <button mat-raised-button class="btn-excel" [disabled]="selection.selected.length == 0" (click)="gerarExcel()">Excel</button>
      <button mat-raised-button color="primary" routerLink="/novoCadastro">+ Novo</button>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex:Fulano..." #input>
      </mat-form-field>
      <div class="tabela">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="situacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by situacao">
              STATUS
            </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button color="primary" *ngIf="item.situacao == 'DEVOLVIDO'">
                  <mat-icon>redo</mat-icon>
              </button>

              <button mat-icon-button style="color: green ;" *ngIf="item.situacao == 'ATIVO'">
                <mat-icon>done</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
              #
            </th>
            <td mat-cell *matCellDef="let item"> {{item.id}} </td>
          </ng-container> -->

           <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nome">
                NOME
            </th>
            <td mat-cell *matCellDef="let item"> {{item.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by matricula">
                MATRICULA
            </th>
            <td mat-cell *matCellDef="let item"> {{item.matricula}} </td>
          </ng-container>

          <ng-container matColumnDef="setor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by setor">
                SETOR
            </th>
            <td mat-cell *matCellDef="let item"> {{item.setor}} </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tipo">
              TIPO
            </th>
            <td mat-cell *matCellDef="let item"> {{item.tipo}} </td>
          </ng-container>

          <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by modelo">
              MODELO
            </th>
            <td mat-cell *matCellDef="let item"> {{item.modelo}} </td>
          </ng-container>


          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by marca">
              MARCA
            </th>
            <td mat-cell *matCellDef="let item"> {{item.marca}} </td>
          </ng-container>


          <ng-container matColumnDef="serial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by serial">
                Nº SERIE
            </th>
            <td mat-cell *matCellDef="let item"> {{item.serial}} </td>
          </ng-container>

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by data">
                DATA
            </th>
            <td mat-cell *matCellDef="let item"> {{item.data | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by observacao">
            </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button color="primary" (click)="devolucaoEquipamento(item)" [disabled]="item.situacao === 'DEVOLVIDO'">
                <mat-icon>search</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="deletar(item)" [disabled]="item.situacao === 'DEVOLVIDO'">
                <mat-icon>delete</mat-icon>
              </button>

              <button mat-icon-button style="color: rgba(0,0,0,.5);" (click)="baixarPDf(item)">
                <mat-icon>download</mat-icon>
              </button>

              <button mat-icon-button
                      color="accent"
                      [ngClass]="{
                        'ativo': item.situacao === 'ATIVO',
                        'devolvido': item.situacao === 'DEVOLVIDO'
                      }" (click)="baixarPdfProtocoloDevolucao(item)"
                      [disabled]="item.situacao === 'ATIVO'">
                <mat-icon>file_open</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row
              *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{
                'selected-row': selection.isSelected(row)}"
              class="hover-tr"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
