mat-form-field {
  width: 100%;
}

table {
    width: 100%;
}

table th, table td {
  font-size: 12px;
  text-align: center;
}

.containerr {
    width: 98%;
    margin: 10px auto;
}

.cardd {
    max-height: 84vh;
    overflow-y: auto;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
