mat-form-field {
  width: 100%;
}

.btn-excel {
  background-color: green;
  color: aliceblue;
}

table {
    width: 100%;
}

.hover-tr:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  z-index: 2;
}

.selected-row {
  background-color: #c2dbff;
}

.ativo {
  opacity: 0.7;
}

.devolvido {
  font-weight: bold;
}

.tabela {
  overflow-y: auto;
  max-height: 70vh;
}

table th, table td {
  font-size: 12px;
  text-align: center;
}

.containerr {
    width: 98%;
    margin: 10px auto;
}

.cardd {
    max-height: 88vh;
    overflow-y: auto;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

mat-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
