<div class="containerr">

  <mat-card class="colaborador">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>groups</mat-icon>
        <span> Colaboradores</span>
      </mat-card-title>
      <button mat-raised-button color="primary" routerLink="">+ Novo</button>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex:Fulano..." #input>
      </mat-form-field>
      <div class="tabela">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

          <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by matricula">
              MATRICULA
            </th>
            <td mat-cell *matCellDef="let item"> {{item.matricula}} </td>
          </ng-container>

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nome">
              NOME
            </th>
            <td mat-cell *matCellDef="let item"> {{item.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by acao">
            </th>
            <td mat-cell *matCellDef="let item">
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum registro encontrato para: "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="colaborador">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>work</mat-icon>
        <span> Setores</span>
      </mat-card-title>
      <button mat-raised-button color="primary" routerLink="">+ Novo</button>
    </mat-card-header>

    <mat-card-content>
      <app-setores></app-setores>
    </mat-card-content>

  </mat-card>
</div>
