/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0px;
}

div.mat-form-field-infix {
  display: flex;
}

.example-list-wrapping {
  max-width: 500px;
}

.mat-sort-header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
}

th {
  text-align: center;
}

.mat-cell {
  text-align: center;
}

table tr.mat-row {
  background: none;
  height: 0;
}

table td.mat-cell:first-of-type {
  padding-left: 10px;
}

table th.mat-header-cell:first-of-type {
  padding-left: 9px;
}

table th.mat-header-cell {
  text-align: center;

}

div.mat-card-header-text {
  margin: 0;
}

.mat-checkbox > label {
  margin: 0;
}
