.example-container {
    width: 100%;
    height: 91vh;
    z-index: 5;
    /* margin-top: 10px; */
    /* border: 1px solid #555; */
}

mat-drawer {
    background-color:#d6d4d4;
    color: #444;
    width: 241px;
}

mat-drawer-content {
  background-color: #e9e8e8;
}

mat-list-item a {
    display: flex;
    align-items: center;
    gap: 16px;
    /* padding: 12px;
    padding-right: 70px; */
    color: #444;
}

mat-list-item.link-active {
  background-color: #3f51b5;
    /* color: #3f51b5; */
    /* color: #f2f2f2; */
    font-weight: 700;
}

mat-list-item.link-active a {

    color: #f2f2f2;
    font-weight: 700;
}

mat-list-item div.mat-list-content a:hover {
  color: #444;
}
